<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<script type="text/javascript" src="/javascripts/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
    	<div class="page-header">
    		<h3>价格自动采编</h3>
    	</div>
    	<div class="col-md-2">
    		<div class="panel panel-info">
    			<div class="panel-heading text-center">一级市场</div>
    			<table class="table table-hover table-striped">
          <%
            if(markets){
              for(var i = 0; i < markets.length; i ++){
          %>
            <tr>
              <td><a href="/market/<%=markets[i].crm_id%>"><%= markets[i].name %></a></td>
            </tr>
          <%
              }
            }
          %>  
    			</table>
    		</div>
    	</div>
    	<div class="col-md-2">
	    	<div class="panel panel-success">
	    		<div class="panel-heading text-center">二级市场</div>
	    		<table class="table table-hover table-striped">
    			<%
            if(submarkets){
              for(var i = 0; i < submarkets.length; i ++){
          %>
            <tr><td><a href="/submarket/<%= submarkets[i].crm_id%>"><%=submarkets[i].name%></a></td></tr>
          <%
              }
            }
          %>
    			</table>
	    	</div>
	    </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">

          </div>
          <div class="panel-body">

          </div>
          <table class="table">
            
          </table>
        </div>
      </div>
    </div>
  </body>
</html>